k*{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1300px;
	min-width: 1100px;
	width: 100%;
	margin: auto;
}
.container .title{
	text-align: center;
	font-size: 22px;
	color: #333;
	margin: 15px auto;
	overflow: hidden;
}
.container .examp{
	margin: 15px 0;
}
.container .examp h3{
	margin: 5px;
	color: #333;
}
.container .examp p{
	margin: 5px;
	border-radius: 5px;-webkit-border-radius: 5px;
	background: #f1f2f3;padding: 15px;font-size: 13px;color: #666;color: #555;line-height: 24px;
}

.container .handle{
	margin: 15px auto;
	text-align: center;
	color: #666;
	font-size: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container .handle *{
	font-size: 16px;
}
.handle select{
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	outline: none;
	border: 1px solid #ddd;
	margin-left: 10px;
	width: 400px;
	border-radius: 5px;
	margin-right: 20px;
}
.handle input[type="checkbox"]{
	zoom:150%;
	outline: none;
	margin-left: 5px;
	cursor: pointer;
	position: relative;
	top: 1px;
}
.handle .input-group{
	display: flex;
	align-items: center;
	justify-content: center;
}
.handle button{
	display: inline-block;
	height: 36px;
	line-height: 36px;
	background: #0ea06f;
	padding: 0 20px;
	color: #fff;
	margin-left: 10px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	border: 0;
}
.container .sudobox{
	margin: 15px auto;
}
#sudoku-table{
	margin: auto;
	max-width: 658px;
	max-height: 658px;
	border-spacing: 0;
	border-collapse: collapse;
}
#sudoku-board{
	border: 2px solid black;
}
#sudoku-board td {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse; 
	border: none;
}
#sudoku-board input.square {
	box-sizing: border-box;
	display: block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	font-size: 28px;
	line-height: 1.5;
	text-align: center;
	outline: none;
}
#sudoku-board input.square:disabled {
	background-color: #fff;
}
#sudoku-board .border-right {
	border-right: 2px solid black;
}
#sudoku-board .border-bottom {
	border-bottom: 2px solid black;
}
#sudoku-board .green-text{
	color: #0ea06f !important;
}
#sudoku-board .ipt{
	color: #FF8080;
}
body {
  background-image: url('./logo.png');
  background-position: top left;
  background-repeat: no-repeat;
}

body {
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 使水印居中 */
  background-image: url('./background.jpg'); /* 替换为你图片的 URL */
  background-size: contain; /* 保持图片比例 */
  background-repeat: no-repeat;
  opacity: 0.1; /* 设置水印的透明度 */
  z-index: 9999;
  pointer-events: none; /* 水印不可点击 */
  user-select: none; /* 禁止选中水印 */
  width: 1800px; /* 设置水印的宽度，可以调整 */
  height: 1080px; /* 设置水印的高度，可以调整 */
}
